.dropdown-title{
  width: 270px;
  height: 50px;
  border: 2px solid #0984e3;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
}
.app-container{
  width: 300px;
}

.selected-options{
  display: flex;
  width: 100%;
}
.selected-options-container{
  width: 260px;
  overflow: hidden;
}
.item {
  
  cursor: pointer;
  font-size: 22px;
  height: 50px;
  padding-left: 5%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  
}

.item:hover{
   background-color: #18dcff;
}

.item input{
  height: 15px;
  width: 15px;
}
.item-container{
  width: 100%;
  height: 200px;
   display: flex;
   flex-direction: column;
   overflow: auto;
   box-shadow:  1px 2px rgba(0, 0, 0, 0.15),1px 2px rgba(0, 0, 0, 0.15) ;
}
